<p>
Posted by: {{quote.submitter}} on {{quote.postDate|date}}
</p>
Posted {{quote.postDate|dateCount}} days ago

<div class="row">
  <div class="col">
    <button mat-icon-button svgIcon="thumb-up" (click)= 'voteUp(true)'>
      <mat-icon class="like">thumb_up</mat-icon>
      {{quote.likes}}
    </button>
  </div>
  <div class="col">
    <button mat-icon-button (click)= 'voteDown(true)'>
      <mat-icon class="dislike">thumb_down</mat-icon>
      {{quote.dislikes}}
    </button>
  </div>
</div>
<button mat-raised-button color="warn" class="delete" (click)= 'deleteQuote(true)'>
  Delete
  <mat-icon>delete</mat-icon>
</button>